extends ./layout
block content
    #container
        #headline Color The Particle Physics Dress
        #headlinebelow Upvote what color the dress will be
        .thumb
            svg.svg(id="red", xmlns='http://www.w3.org/2000/svg')
                circle(cx='60', cy='60', r='40' fill="rgb(245, 32, 177)" stroke="rgb(195, 4, 120)" stroke-width="2")
            #redcount.i.like.fa.fa-thumbs-o-up 0
        .thumb
            svg.svg(id="green", xmlns='http://www.w3.org/2000/svg')
                circle(cx='60', cy='60', r='40', fill='rgb(255, 199, 0)' stroke="rgb(220, 150, 0)" stroke-width="2")
            #greencount.i.like.fa.fa-thumbs-o-up 0
        .thumb
            svg.svg(id="blue", xmlns='http://www.w3.org/2000/svg')
                circle(cx='60', cy='60', r='40', fill='rgb(18, 198, 236)' stroke="rgb(6, 150, 183)" stroke-width="2")
            #bluecount.i.like.fa.fa-thumbs-o-up 0
        #colorupdate Next color update to the dress in...
        #seconds 0
        #previouscolor Current color of the dress
        svg(id="previouscolor", xmlns='http://www.w3.org/2000/svg' style="width:120px;height:120px")
            circle(cx='60', cy='60', r='40', fill='blue')
