@media screen and (max-width: 600px){
    body{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    #container {
        width: 100%;
        height: 100%;
        text-align: center;
        background-image: url("/img/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;

    }
    #container{
        width: 100%;
        height: 100%;
    }
    .thumb{
        width: 105px;
    }
    .svg{
        width: 105px;
        height: 103px;
        transform: scale(0.7);
    }
}
@media screen and (min-width: 600px){
    body{
        background-color: #333333;
    }
    #container{
        font-family: Helvetica Neue, Light;
        margin: 0 auto;
        margin-top: 80px;
        vertical-align: middle;
        text-align: center;
        width: 600px;
        height: 500px;
        background-image: url("/img/background.jpg");
        background-repeat: no-repeat;
        background-origin: content-box;
    }

    .thumb{
        width: 110px;
    }

    .svg{
        width: 120px;
        height: 103px;
    }
}
.thumb{
    display: inline-block;
    text-align: center;

}
#headline{
    padding-top: 15px;
    margin-bottom: 35px;
    font-size: 22px;
}
#headlinebelow{
    font-size: 16px;
    /*margin-bottom: 15px;*/
}
.like{
    font-size: 14px;
    margin-bottom: 35px;
    letter-spacing: 5px;
}
#colorupdate{
    font-size: 16px;
}
#seconds{
    font-size: 24px;
    margin-bottom: 15px;
}
#secondstring{
    font-size: 16px;
}
#previouscolor{
    font-size: 16px;
    /*margin-bottom: 15px;*/
}

#seconds + #previouscolor {
    margin-top: 25px;
}

.thumb > svg:active {
    opacity: 0.7;
}
